.well
  =simple_form_for @user do |f|

    .form-group
      =f.input :password, label_html: {class: 'control-label'},input_html: {class: 'form-control'}
      =f.input :password_confirmation, label_html: {class: 'control-label'},input_html: {class: 'form-control'}

    .form-group
      =f.button :submit, 'Update!', class: 'btn btn-info'