-#%h1.title News
-#= render 'admin', if policy(System::News).new?
- unless @system_news.empty?
  = render :partial => "posts", :as => :post, :collection => @system_news
- else
  %span No News!
-#= will_paginate @news, {page_links: false, class: "news_pagination"}
= paginate @system_news